{{ define "title"}}<title>onho.io</title>{{ end }}
{{ define "content" }}
    <div class="current-user">
        {{ if .github_user }}
        <div id="video-container" class="video-container">
                <video id="video" autoplay muted></video>
        </div>
        {{ else }}
            {{ if not .github_user }}
                <div class="center">
                    <a href="/api/auth/start">Start</a>
                </div>
            {{ end }}
            <h3>Home Office For Everyone</h3>
        {{ end }}
    </div>
    </div>
{{ end }}